# Visual Studio
.vs/
*.suo
*.user
*.userprefs

# Build output
build/
obj/
bin/

# Packages
packages/
*.nupkg
*.pdb

# Logs
logs/*.log

# IDE settings
.vscode/
.idea/

# Other
*.userassets
*.sln.docstates
temp/

appsettings.Local.json
testPJ.sln

Migrations/
.fake
.claudiaideconfig
appsettings.json

# Config firebase
ecma-722ac-firebase-adminsdk-vwn7w-c1a6580cb5.json